<h1>Program List</h1>

<% @programs.each do |program| %>
	<div>
	<%= program.id %>
	<%= program.title %>
	<%= program.price %>
	<% if signed_in? %>
		<%= link_to "신청하기", program_path(program) %>
	<% else%>
		<%= link_to "신청하기", program_path(program) %>
	<% end %>
	</div>
<% end %>